<!DOCTYPE html>
<html class="dark" lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <meta name="Description" content="blog-arasemr12 blog website... Author: Emrah#9891">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="blog-arasemr12 blog website... Author: Emrah#0001" />
    <meta property="og:site_name" content="blog-arasemr12" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog-arasemr12.herokuapp.com<%=req.originalUrl%>" />
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/tailwind.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T96G9XH546"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T96G9XH546');
    </script>
    <!-- PopMyAds.com Popunder Code for blog-arasemr12.herokuapp.com -->

    <script type="text/javascript" data-cfasync="false">
        var pmauid = '64969';
        var pmawid = '68143';
        var fq = '0';
    </script>
    <script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>

    <!-- PopMyAds.com Popunder Code End -->
    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function(){var e148dd01bca1eb0e6557546af3129670="EXufft9gjKx5wr6js4SAPAFxBtq00s5bi1K4YyrBqKtH2TdPYuAEVokvRrWdhpJSABGaMbBPcbV4Tb8KyJcymTpOinZdnaWj";var a=['w6dJwr9YDhLCo8OaQ8KpY8KAE2w=','DBDCtsOrw7PDuMOFNMOHwowEHw==','wq7DqwDDlMOJYFN4w4g=','PsOJwoN0w79owqPDnQ==','XsOnwqMMUsOnw5Zhw7FMwqEQwpjDpy4=','TsOtwrgNEMOow5lj','w6tWD8OD','ZwBvwpzDusKn','W8OjwqDCgjHDvcKxcikSwoTCoMKm','Z8KQw4HDlMOq','w6RUwqw=','IsOSwodpw6Mhw7jCvi7DuyMy','d8KEwqcJOcKY','RcOwUlQ8wrxQw6vDlcKoEQ==','QCVUWURvOQ==','G8Kiw5FJwpcWwpk=','bMKcw5TDgDIc','woDCph5EBy1g','X2nCkcOhwovCpcK8wpzDgyk0w6Q=','w7xWYCnDlcOfwq/Cs0HDtcOTQHc=','wrrCsHDDs3vChw==','w67DpkEY','HwLCrcKkw7zDk8OTIcOCwoAOHDDDnMOiVD/CgsK+H8KaScOzwoQKw7vDkMOsM25mw7LDkcKzwrjDp8KGK8OdOzZKYg==','wqvDqgzDj8OdaFJ5','QcOnSWIjwpZPw6fDnMK1DDHCksOcw4p9wqh3DMKK','w77Dhx7CmFB6w67ClGjDpg==','wqhkwrnCgyJHMMK3FsOMHcKlw4bCpMKlw6zDk8OweMO4FB5yBMKfw4ojTMKkaicPw5zCmMOjSkPCl8Khw4hHMw=='];(function(b,e){var f=function(g){while(--g){b['push'](b['shift']());}};f(++e);}(a,0x92));var b=function(c,d){c=c-0x0;var e=a[c];if(b['BFXAsi']===undefined){(function(){var h;try{var j=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');');h=j();}catch(k){h=window;}var i='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';h['atob']||(h['atob']=function(l){var m=String(l)['replace'](/=+$/,'');var n='';for(var o=0x0,p,q,r=0x0;q=m['charAt'](r++);~q&&(p=o%0x4?p*0x40+q:q,o++%0x4)?n+=String['fromCharCode'](0xff&p>>(-0x2*o&0x6)):0x0){q=i['indexOf'](q);}return n;});}());var g=function(h,l){var m=[],n=0x0,o,p='',q='';h=atob(h);for(var t=0x0,u=h['length'];t<u;t++){q+='%'+('00'+h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);}h=decodeURIComponent(q);var r;for(r=0x0;r<0x100;r++){m[r]=r;}for(r=0x0;r<0x100;r++){n=(n+m[r]+l['charCodeAt'](r%l['length']))%0x100;o=m[r];m[r]=m[n];m[n]=o;}r=0x0;n=0x0;for(var v=0x0;v<h['length'];v++){r=(r+0x1)%0x100;n=(n+m[r])%0x100;o=m[r];m[r]=m[n];m[n]=o;p+=String['fromCharCode'](h['charCodeAt'](v)^m[(m[r]+m[n])%0x100]);}return p;};b['KfVYMK']=g;b['HRPdiS']={};b['BFXAsi']=!![];}var f=b['HRPdiS'][c];if(f===undefined){if(b['csYUvr']===undefined){b['csYUvr']=!![];}e=b['KfVYMK'](e,d);b['HRPdiS'][c]=e;}else{e=f;}return e;};var h=window;h[b('0xa','D$n^')]=[[b('0x1','&H)8'),0x479fea],[b('0x5','SjT4'),0.0001],[b('0x10','oo#9'),b('0x6','D$n^')],[b('0x11','Pwo!'),0x1],[b('0x4','5oU4'),![]],[b('0x8','8^Kr'),0x64],[b('0x0','bikk'),!0x0]];var o=[b('0xb','Pwo!'),b('0xf','&3iP')],q=0x0,s,k=function(){if(!o[q])return;s=h[b('0x15','LWLP')][b('0x18','nWoL')](b('0x17','IXa%'));s[b('0x16','w*P!')]=b('0x14','LWLP');s[b('0x19','^Sn0')]=!0x0;var c=h[b('0xc','Ug$U')][b('0xd','!TQv')](b('0x9','N1ux'))[0x0];s[b('0x1a','oo#9')]=b('0x13','bikk')+o[q];s[b('0x2','!TQv')]=b('0x12','Ug$U');s[b('0x3','8^m(')]=function(){q++;k();};c[b('0xe','W(xh')][b('0x7','AG&A')](s,c);};k();})();
        /*]]>/* */
        </script>
</head>
<body>
    <%-include('../partials/navbar')%>
    <div id="main" class="text-center items-center w-full">
        <%-body%>
    </div>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>