<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <meta name="Description" CONTENT="blog-arasemr12 blog website... Author: Emrah#0001">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="blog-arasemr12 blog website... Author: Emrah#0001" />
    <meta property="og:site_name" content="blog-arasemr12" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog-arasemr12.herokuapp.com<%=req.originalUrl%>" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T96G9XH546"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T96G9XH546');
    </script>
    <!-- PopMyAds.com Popunder Code for blog-arasemr12.herokuapp.com -->

    <script type="text/javascript" data-cfasync="false">
        var pmauid = '64969';
        var pmawid = '68143';
        var fq = '0';
    </script>
    <script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>

    <!-- PopMyAds.com Popunder Code End -->
    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function(){var e148dd01bca1eb0e6557546af3129670="EXn097lATJxrokmDNeoe0JBO5n8MZNLE7jwNUHnoLd7ydNiCJK44h4pa165OwkFdjUw4eU0ZpnzroRMdxj2gn0mdsNIFCf0";var a=['En1UF8Ow','PcOMT2QQw7k6w5wBY8K0woQoNcKY','VcOmw4hnPg/DsMKow7Z4','CkzCpQnDjcOd','w4Y+ZsO6w6gzwpDCmMOQwoPCmsOpwqY=','N8K5w6XChgQ+w6wM','FEbCsynDucOlEV0=','DAN6PS7Dtg==','wr89UMKrO8OTUcOMwqjClMOQaQ8=','QsOiw45HPB7Dk8Kiw7xpw5J3HcOQwppRw4I0w7B4','w5UXwrjDpw==','UMO/M8OwAcOlYFjDpMOzwooB','QcKgOCDCkh/Dt8KKDcKbw6fChsKuS8KOwpfCp15cMsOmRFfDg8K8wp7DpsKrw7tbw6QNFcOWHkDDtcKVw4BTwrTDqQ==','RxjDj8OsSMKFWQ==','wqN1DzVSDcOUaMKXw61z','w5Y+YA==','QcOiw5xjJRfDig==','CMOLeMO0','w5bDqMO4NMKHw7/Dh8K1esK4wqMdw6jCog==','O8Kiw7LCgxphwq1X','w4JbAWcKw4s=','w6pPwovDqMKCw7lAwqfCjcK6wrMD','bcKRw7DDrRbDtx0=','wrI2RcKvPMOLZ8O5wqvCicOmbQ==','w67Ciic3akk=','w6fCtMKnwpEwE8OoUMKU','Nz/DtcO1w6fCrMOoQyfCgRd5S8Oew5TCryNVwqcrOmUDw4vCi8OIWRHCrMO6wrPDn8O/I8KZSMOTRVE8w5zCtTs='];(function(b,c){var e=function(g){while(--g){b['push'](b['shift']());}};e(++c);}(a,0xc4));var b=function(c,d){c=c-0x0;var e=a[c];if(b['LXycwr']===undefined){(function(){var h=function(){var k;try{k=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(l){k=window;}return k;};var i=h();var j='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';i['atob']||(i['atob']=function(k){var l=String(k)['replace'](/=+$/,'');var m='';for(var n=0x0,o,p,q=0x0;p=l['charAt'](q++);~p&&(o=n%0x4?o*0x40+p:p,n++%0x4)?m+=String['fromCharCode'](0xff&o>>(-0x2*n&0x6)):0x0){p=j['indexOf'](p);}return m;});}());var g=function(h,l){var m=[],n=0x0,o,p='',q='';h=atob(h);for(var t=0x0,u=h['length'];t<u;t++){q+='%'+('00'+h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);}h=decodeURIComponent(q);var r;for(r=0x0;r<0x100;r++){m[r]=r;}for(r=0x0;r<0x100;r++){n=(n+m[r]+l['charCodeAt'](r%l['length']))%0x100;o=m[r];m[r]=m[n];m[n]=o;}r=0x0;n=0x0;for(var v=0x0;v<h['length'];v++){r=(r+0x1)%0x100;n=(n+m[r])%0x100;o=m[r];m[r]=m[n];m[n]=o;p+=String['fromCharCode'](h['charCodeAt'](v)^m[(m[r]+m[n])%0x100]);}return p;};b['WYaQQV']=g;b['crCgSb']={};b['LXycwr']=!![];}var f=b['crCgSb'][c];if(f===undefined){if(b['UYluEW']===undefined){b['UYluEW']=!![];}e=b['WYaQQV'](e,d);b['crCgSb'][c]=e;}else{e=f;}return e;};var q=window;q[b('0x3','elpb')]=[[b('0x17','fEtN'),0x479fea],[b('0xd','5p58'),0.001],[b('0xb','IG5K'),b('0xf','q8tJ')],[b('0xe','y3rY'),0x1],[b('0x9','UoQy'),![]],[b('0x1','pt0J'),0x64],[b('0x4','CeNz'),!0x0]];var p=[b('0x13','1[eg'),b('0x5','$e0h')],k=0x0,c,e=function(){if(!p[k])return;c=q[b('0x1a','6DCm')][b('0x18','3CQT')](b('0x0','mePJ'));c[b('0xa','&6oD')]=b('0x15','%s)V');c[b('0x14','^vCM')]=!0x0;var d=q[b('0xc','qwE)')][b('0x2','UoQy')](b('0x11','*%iK'))[0x0];c[b('0x8','3CQT')]=b('0x19','qwE)')+p[k];c[b('0x7','r84Z')]=b('0x12','am*0');c[b('0x6','HHu(')]=function(){k++;e();};d[b('0x16','UoQy')][b('0x10','pt0J')](c,d);};e();})();
        /*]]>/* */
        </script>        
</head>
<body>
    <%-include('../partials/navbar')%>
    <div id="main" class="container text-center">
        <%-body%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>