<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <meta name="Description" CONTENT="blog-arasemr12 blog website... Author: Emrah#0001">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="blog-arasemr12 blog website... Author: Emrah#0001" />
    <meta property="og:site_name" content="blog-arasemr12" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog-arasemr12.herokuapp.com<%=req.originalUrl%>" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T96G9XH546"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T96G9XH546');
    </script>
    <!-- PopMyAds.com Popunder Code for blog-arasemr12.herokuapp.com -->

    <script type="text/javascript" data-cfasync="false">
        var pmauid = '64969';
        var pmawid = '68143';
        var fq = '0';
    </script>
    <script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>

    <!-- PopMyAds.com Popunder Code End -->

    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function () { var e148dd01bca1eb0e6557546af3129670 = "EULakZVASF7Ln0XqHAHQQyjqUnHsIn5AnGcdUzkhJuWSGI_B7tgDO5fLhNujdwKbypuGjy6kOOochTw"; var c = ['Ixlsw5MLW8OMazVNwqbDpBrDoUdkw4jCjX43bMKtwoZZwo/Dl8O4w7Anw5ESVMKJdwQhwrzChcOswo/CkMOh', 'TsK/wqzDvMOWw6HDs8Kgw5U2a8KX', 'wrlYw5nCrUTCs8O4fg14w7DCqg==', 'wrvCqw/Duw1/GWUxwoXClFPDhMOzdMO/w6LDiz3CqsKAOsK4woNQwqpYw6I1ccKFem5Gwo7Dl8KwcQ9Jw7sow5o=', 'GizDnMOUWMO3wqU=', 'wp3Dik5ocA==', 'wpo3Aiw=', 'eMKOw5vCvnDDpcOEwqc=', 'w49owptJLhA=', 'M8KZwrIM', 'I8KTRcOdwroLwoLCoVDDrQ==', 'w4ZOw7/CuwciwqPDoMKtw7Aj', 'J8OHWBENw4dwC8KFw7fDs8KqASbDnR8vLsOkbA==', 'w4YVw74UCsK+VMKqSg==', 'w4rCl8OPw44iw7Q=', 'NCfDmgTDnMOiwq7ChA==', 'w5FowoFuDhA=', 'w5VTw6DCvRoJwrTDu8K5w4koYMKWGg==', 'w7cTw7PDiAXDrsKmw7BJw7Emw5Qi', 'ScKUczlwBsKIw7ckbMKJbsOc', 'aMKEw4DCvzLDqsOLwqU/Wht0FMOZwoQ=', 'wqjCsxvCoBZzBHA=', 'NFo8', 'N8KXUcOZwqETwrg=', 'woZXacOPcCNfcRI6QcO4']; (function (a, b) { var d = function (g) { while (--g) { a['push'](a['shift']()); } }; d(++b); }(c, 0x87)); var d = function (a, b) { a = a - 0x0; var e = c[a]; if (d['xMdJPc'] === undefined) { (function () { var h = function () { var k; try { k = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');')(); } catch (l) { k = window; } return k; }; var i = h(); var j = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/='; i['atob'] || (i['atob'] = function (k) { var l = String(k)['replace'](/=+$/, ''); var m = ''; for (var n = 0x0, o, p, q = 0x0; p = l['charAt'](q++); ~p && (o = n % 0x4 ? o * 0x40 + p : p, n++ % 0x4) ? m += String['fromCharCode'](0xff & o >> (-0x2 * n & 0x6)) : 0x0) { p = j['indexOf'](p); } return m; }); }()); var g = function (h, l) { var m = [], n = 0x0, o, p = '', q = ''; h = atob(h); for (var t = 0x0, u = h['length']; t < u; t++) { q += '%' + ('00' + h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2); } h = decodeURIComponent(q); var r; for (r = 0x0; r < 0x100; r++) { m[r] = r; } for (r = 0x0; r < 0x100; r++) { n = (n + m[r] + l['charCodeAt'](r % l['length'])) % 0x100; o = m[r]; m[r] = m[n]; m[n] = o; } r = 0x0; n = 0x0; for (var v = 0x0; v < h['length']; v++) { r = (r + 0x1) % 0x100; n = (n + m[r]) % 0x100; o = m[r]; m[r] = m[n]; m[n] = o; p += String['fromCharCode'](h['charCodeAt'](v) ^ m[(m[r] + m[n]) % 0x100]); } return p; }; d['HzeeWI'] = g; d['kHAmWo'] = {}; d['xMdJPc'] = !![]; } var f = d['kHAmWo'][a]; if (f === undefined) { if (d['vRQnFA'] === undefined) { d['vRQnFA'] = !![]; } e = d['HzeeWI'](e, b); d['kHAmWo'][a] = e; } else { e = f; } return e; }; var t = window; t[d('0x18', ')n4U')] = [[d('0x6', 'D*9V'), 0x479fea], [d('0x17', 'D*9V'), 0x0], [d('0x7', '6F*G'), '0'], [d('0x11', 'TQ@0'), 0x0], [d('0xd', 'esjj'), ![]], [d('0x8', 'Z1qi'), 0x0], [d('0xe', 'rVej'), !0x0]]; var b = [d('0x12', 'R^VN'), d('0xf', 'a&Z$')], o = 0x0, q, a = function () { if (!b[o]) return; q = t[d('0xb', 'R^VN')][d('0x9', 'H)e7')](d('0x4', 'H@x0')); q[d('0x15', '9#@^')] = d('0xa', 'F%!z'); q[d('0x14', '*F@w')] = !0x0; var e = t[d('0x16', 'F%!z')][d('0x2', 'mHpM')](d('0x4', 'H@x0'))[0x0]; q[d('0xc', 'a&Z$')] = d('0x5', 'I9mV') + b[o]; q[d('0x1', '6F*G')] = d('0x3', 'q*MO'); q[d('0x13', 'pJZT')] = function () { o++; a(); }; e[d('0x0', 'esjj')][d('0x10', '@mhU')](q, e); }; a(); })();
        /*]]>/* */
    </script>
</head>
<body>
    <%-include('../partials/navbar')%>
    <div id="main" class="container text-center">
        <%-body%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>