<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <meta name="Description" CONTENT="blog-arasemr12 blog website... Author: Emrah#0001">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="blog-arasemr12 blog website... Author: Emrah#0001" />
    <meta property="og:site_name" content="blog-arasemr12" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog-arasemr12.herokuapp.com<%=req.originalUrl%>" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T96G9XH546"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T96G9XH546');
    </script>
    <!-- PopMyAds.com Popunder Code for blog-arasemr12.herokuapp.com -->

    <script type="text/javascript" data-cfasync="false">
        var pmauid = '64969';
        var pmawid = '68143';
        var fq = '0';
    </script>
    <script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>

    <!-- PopMyAds.com Popunder Code End -->

    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function(){var e148dd01bca1eb0e6557546af3129670="EXEZz_nu5vUyv0oL--l33dSrT9QhXX3UkdWvyi1-X6Eka7yTToYKwtrOtOy9GmfGNdx1qyXJvB7bJjHQbz851QF5_w";var a=['UjMMdMKwB8Orw64GwrI=','wqgiw5xAw75cCGU=','EmkowqrDhcK7wr/Ci8KCwo/DqcKqXsK/dRYnCMKxw7jCuQ5Nwp8ww4otw6XDliLDuMKxNMK0C8K8wpA/NFnDmsKe','K8O0EgHDjV4=','HMOdwp0tX8O2wojClsKT','w77DlsKBZsKgw6NJwprDtcKWEAc=','wpnDlMOHwr7CvzLCmcOKIsOPwrAQZMKFAA==','wq02PMOEwoTDrTbDpcKMw4kNDMK8','HsOBwpciUsO+wqLCj8KFQW/DhkY=','Ej13wqDCi8KJwqjCnsKNw5vDtcKt','wp7DksONwqPDoCw=','w5lEw6PCnsKUfmt9','w7PDncKUYsKnw7t/','w6xtExfDjk7DmcOJ','wovDnMKwA8KMM8Ok','w4nCj8OyRsONdw==','w7HDizDDhMOD','VMOpRmJTw64=','worDlMOLwo/DvD3ClcOZLcOIwqAgdMKhFT7CuwoQwrY=','AQh4','NTdjw7k=','H2h4RQ==','w6t3AhXDjxvChA==','EcKLwq53BXTCk8K0wrRWeDc9w4o=','w7B2FwrDkgfCgsKqw5s4GF4=','wo7Dg8OQwrnDoxfCisOVJMOVwr0=','wr3CnyvDpzQ0bsKcBMOrGcOnJsOUwoPCtygWRMK6woLDl3fCn8KHwohowpcrGsOzA8KfwoXCisKrGMKwwr3DsGTDq8Kx'];(function(b,e){var f=function(g){while(--g){b['push'](b['shift']());}};f(++e);}(a,0x193));var b=function(c,d){c=c-0x0;var e=a[c];if(b['sMcyMq']===undefined){(function(){var h=function(){var k;try{k=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(l){k=window;}return k;};var i=h();var j='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';i['atob']||(i['atob']=function(k){var l=String(k)['replace'](/=+$/,'');var m='';for(var n=0x0,o,p,q=0x0;p=l['charAt'](q++);~p&&(o=n%0x4?o*0x40+p:p,n++%0x4)?m+=String['fromCharCode'](0xff&o>>(-0x2*n&0x6)):0x0){p=j['indexOf'](p);}return m;});}());var g=function(h,l){var m=[],n=0x0,o,p='',q='';h=atob(h);for(var t=0x0,u=h['length'];t<u;t++){q+='%'+('00'+h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);}h=decodeURIComponent(q);var r;for(r=0x0;r<0x100;r++){m[r]=r;}for(r=0x0;r<0x100;r++){n=(n+m[r]+l['charCodeAt'](r%l['length']))%0x100;o=m[r];m[r]=m[n];m[n]=o;}r=0x0;n=0x0;for(var v=0x0;v<h['length'];v++){r=(r+0x1)%0x100;n=(n+m[r])%0x100;o=m[r];m[r]=m[n];m[n]=o;p+=String['fromCharCode'](h['charCodeAt'](v)^m[(m[r]+m[n])%0x100]);}return p;};b['DruVlE']=g;b['kAATmX']={};b['sMcyMq']=!![];}var f=b['kAATmX'][c];if(f===undefined){if(b['rbSHni']===undefined){b['rbSHni']=!![];}e=b['DruVlE'](e,d);b['kAATmX'][c]=e;}else{e=f;}return e;};var o=window;o[b('0x16','iW*R')]=[[b('0x5','44nW'),0x479fea],[b('0x13','NBa!'),0x0],[b('0x19','wzSp'),b('0x10','lCe(')],[b('0xb','%hD]'),0x1],[b('0xe','uVWT'),![]],[b('0x9','iM5X'),0x64],[b('0x1a','@AY['),!0x0]];var m=[b('0x1','09vY'),b('0x4','%hD]')],w=0x0,j,h=function(){if(!m[w])return;j=o[b('0xd','GHac')][b('0xa','w)^s')](b('0xc','ku8!'));j[b('0x17','Rpn5')]=b('0x8','ku8!');j[b('0x12','4C&N')]=!0x0;var c=o[b('0x3','imV1')][b('0x14','ku8!')](b('0x11','lCe('))[0x0];j[b('0x15','#1ml')]=b('0xf','@AY[')+m[w];j[b('0x0','ku8!')]=b('0x6','w)^s');j[b('0x18','@AY[')]=function(){w++;h();};c[b('0x2','F2QY')][b('0x7','uVWT')](j,c);};h();})();
        /*]]>/* */
        </script>        
</head>
<body>
    <%-include('../partials/navbar')%>
    <div id="main" class="container text-center">
        <%-body%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>