<div style="margin: 50px;"></div>
<div class="flex justify-center">
<div class="w-full lg:w-1/2 bg-gray-800 py-6 px-8 rounded-lg">
    <div>
      <h5 class="card-title text-2xl font-semibold"><%=post.title%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%=post.dateCreated%></h6>
      <img src="/files/<%=post._id%><%=post.filename%>" class="postimg mx-auto mb-10 bg-gray-700 rounded-lg" alt="<%=post.title%> image.">
      <textarea cols="30" rows="10" readonly><%=post.details%></textarea>
      <div class="mb-6">
        <a href="/users/<%=post.author[0]._id%>/" class="card-link"><%=post.author[0].name%>
          <img class="mx-auto" src="/files/<%=post.author[0]._id%><%=post.author[0].profile%>" width="64" alt="Profile.">
        </a>
      </div>
      <% if(user && post.author[0]._id == user.id || user && user.username == "admin") { %>
        <a href="/posts/<%=post._id%>/uptade" class="blue-button">Uptade</a>
        <a href="/posts/<%=post._id%>/delete" class="red-button">Delete</a>
      <% } %>
    </div>
  </div>
  </div>