ID: <%=userde._id%> <br><br>
USERNAME: <%=userde.username%> <br><br>
NAME: <%=userde.name%> <br><br>
<% if(user && user.id == userde._id || user && user.username === "admin") { %>
    IP: <%=userde.ip%> <br><br>
    <a href="/users/<%=userde.id%>/uptade" class="blue-button">Uptade Account</a>
    <a href="/users/<%=userde.id%>/delete" class="red-button">Delete Account</a>
<% } %>