ID: <%=userde._id%> <br><br>
USERNAME: <%=userde.username%> <br><br>
NAME: <%=userde.name%> <br><br>
<% if(user && user.id == userde._id || user && user.username === "admin") { %>
    <a href="/users/<%=userde.id%>/uptade" class="btn btn-primary">Uptade Account</a>
    <a href="/users/<%=userde.id%>/delete" class="btn btn-danger">Delete Account</a>
<% } %>